# POSTTEST 2
***

**1. Tampilkan rata-rata, standar deviasi, nilai minimum, nilai maksimum, Q1, Q2, dan Q3 dari attribute bertipe angka.**

In [43]:
import pandas as pd
bankMarketing = pd.read_csv('bank-additional-full.csv',sep=";")
bankMarketing = bankMarketing.select_dtypes(["float","int"])
bankMarketing.describe()

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
count,41188.00000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000
mean,40.02406,258.285010,2.567593,962.475454,0.172963,0.081886,93.575664,-40.502600,3.621291,5167.035911
std,10.42125,259.279249,2.770014,186.910907,0.494901,1.570960,0.578840,4.628198,1.734447,72.251528
min,17.00000,0.000000,1.000000,0.000000,0.000000,-3.400000,92.201000,-50.800000,0.634000,4963.600000
25%,32.00000,102.000000,1.000000,999.000000,0.000000,-1.800000,93.075000,-42.700000,1.344000,5099.100000
50%,38.00000,180.000000,2.000000,999.000000,0.000000,1.100000,93.749000,-41.800000,4.857000,5191.000000
75%,47.00000,319.000000,3.000000,999.000000,0.000000,1.400000,93.994000,-36.400000,4.961000,5228.100000
max,98.00000,4918.000000,56.000000,999.000000,7.000000,1.400000,94.767000,-26.900000,5.045000,5228.100000

***

**2. Tampilkan 10 record pertama dari dataset dengan attribute bertipe angka.**

In [32]:
bankMarketing = bankMarketing.select_dtypes(["float","int"])
bankMarketing.head(10)

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
0,56,261,1,999,0,1.1,93.994,-36.4,4.857,5191.0
1,57,149,1,999,0,1.1,93.994,-36.4,4.857,5191.0
2,37,226,1,999,0,1.1,93.994,-36.4,4.857,5191.0
3,40,151,1,999,0,1.1,93.994,-36.4,4.857,5191.0
4,56,307,1,999,0,1.1,93.994,-36.4,4.857,5191.0
5,45,198,1,999,0,1.1,93.994,-36.4,4.857,5191.0
6,59,139,1,999,0,1.1,93.994,-36.4,4.857,5191.0
7,41,217,1,999,0,1.1,93.994,-36.4,4.857,5191.0
8,24,380,1,999,0,1.1,93.994,-36.4,4.857,5191.0
9,25,50,1,999,0,1.1,93.994,-36.4,4.857,5191.0

***

**3. Tampilkan informasi jumlah record, jumlah attribute, nama attribute, jumlah attribute dengan tipe angka. Masukkan informasi tersebut dalam dictionary dengan key sesuai nama informasinya. Tampilkan isi dari dictionary tersebut sebagus mungkin.**

In [33]:
record, attribute = bankMarketing.shape
jml_object = bankMarketing.select_dtypes(["float", "int"]).any().sum()
nama_attribute = bankMarketing.columns.values
jml_null = bankMarketing.isnull().any().sum()

info = {"Jumlah Record": record, 
        "Jumlah Attribute" : attribute, 
        "Nama Attribute" : list(nama_attribute), 
        "Jumlah Object" : jml_object, 
        "Jumlah Nilai Null": jml_null}

for x in info :
    print(x, ":", info[x])

Jumlah Record : 41188
Jumlah Attribute : 10
Nama Attribute : ['age', 'duration', 'campaign', 'pdays', 'previous', 'emp.var.rate', 'cons.price.idx', 'cons.conf.idx', 'euribor3m', 'nr.employed']
Jumlah Object : 10
Jumlah Nilai Null : 0

***

***4.  Tampilkan nilai dataset pada baris dimulai dengan 3 digit NIM akhir hingga data terakhir dan kolom ke 4 hingga kolom terakhir menggunakan ke 2 metode slice.***

- Menggunakan iloc untuk slicing

In [48]:
# Menggunakan iloc untuk slicing
metode1 = bankMarketing.iloc[123:, 3:]
metode1

,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
123,999,0,1.1,93.994,-36.4,4.857,5191.0
124,999,0,1.1,93.994,-36.4,4.857,5191.0
125,999,0,1.1,93.994,-36.4,4.857,5191.0
126,999,0,1.1,93.994,-36.4,4.857,5191.0
127,999,0,1.1,93.994,-36.4,4.857,5191.0
...,...,...,...,...,...,...,...
41183,999,0,-1.1,94.767,-50.8,1.028,4963.6
41184,999,0,-1.1,94.767,-50.8,1.028,4963.6
41185,999,0,-1.1,94.767,-50.8,1.028,4963.6
41186,999,0,-1.1,94.767,-50.8,1.028,4963.6
41187,999,1,-1.1,94.767,-50.8,1.028,4963.6

- Menggunakan loc untuk slicing

In [47]:
# Menggunakan loc untuk slicing
metode2 = bankMarketing[123:].iloc[:, 3:]
metode2

,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
123,999,0,1.1,93.994,-36.4,4.857,5191.0
124,999,0,1.1,93.994,-36.4,4.857,5191.0
125,999,0,1.1,93.994,-36.4,4.857,5191.0
126,999,0,1.1,93.994,-36.4,4.857,5191.0
127,999,0,1.1,93.994,-36.4,4.857,5191.0
...,...,...,...,...,...,...,...
41183,999,0,-1.1,94.767,-50.8,1.028,4963.6
41184,999,0,-1.1,94.767,-50.8,1.028,4963.6
41185,999,0,-1.1,94.767,-50.8,1.028,4963.6
41186,999,0,-1.1,94.767,-50.8,1.028,4963.6
41187,999,1,-1.1,94.767,-50.8,1.028,4963.6

***

***5.  Tampilkan jumlah nilai dari semua attribute yang bernilai object (contoh : Jenis Kelamin, Agama).***

In [41]:
objek = bankMarketing.select_dtypes(include=['object'])
jumlah_nilai_unik = objek.nunique()
jumlah_nilai_unik

job            12
marital         4
education       8
default         3
housing         3
loan            3
contact         2
month          10
day_of_week     5
poutcome        3
y               2
dtype: int64