# POSTTEST 2
***

**1. Tampilkan rata-rata, standar deviasi, nilai minimum, nilai maksimum, Q1, Q2, dan Q3 dari attribute bertipe angka.**

In [54]:
import pandas as pd
import numpy as np

bankMarketing = pd.read_csv('bank-additional-full.csv')
bankMarketing.describe()

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
count,41188.00000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000
mean,40.02406,258.285010,2.567593,962.475454,0.172963,0.081886,93.575664,-40.502600,3.621291,5167.035911
std,10.42125,259.279249,2.770014,186.910907,0.494901,1.570960,0.578840,4.628198,1.734447,72.251528
min,17.00000,0.000000,1.000000,0.000000,0.000000,-3.400000,92.201000,-50.800000,0.634000,4963.600000
25%,32.00000,102.000000,1.000000,999.000000,0.000000,-1.800000,93.075000,-42.700000,1.344000,5099.100000
50%,38.00000,180.000000,2.000000,999.000000,0.000000,1.100000,93.749000,-41.800000,4.857000,5191.000000
75%,47.00000,319.000000,3.000000,999.000000,0.000000,1.400000,93.994000,-36.400000,4.961000,5228.100000
max,98.00000,4918.000000,56.000000,999.000000,7.000000,1.400000,94.767000,-26.900000,5.045000,5228.100000

***

**2. Tampilkan 10 record pertama dari dataset dengan attribute bertipe angka.**

In [51]:
bankMarketing = bankMarketing.select_dtypes(["float","int"])
bankMarketing.head(10)

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
0,56,261,1,999,0,1.1,93.994,-36.4,4.857,5191.0
1,57,149,1,999,0,1.1,93.994,-36.4,4.857,5191.0
2,37,226,1,999,0,1.1,93.994,-36.4,4.857,5191.0
3,40,151,1,999,0,1.1,93.994,-36.4,4.857,5191.0
4,56,307,1,999,0,1.1,93.994,-36.4,4.857,5191.0
5,45,198,1,999,0,1.1,93.994,-36.4,4.857,5191.0
6,59,139,1,999,0,1.1,93.994,-36.4,4.857,5191.0
7,41,217,1,999,0,1.1,93.994,-36.4,4.857,5191.0
8,24,380,1,999,0,1.1,93.994,-36.4,4.857,5191.0
9,25,50,1,999,0,1.1,93.994,-36.4,4.857,5191.0

***

**3. Tampilkan informasi jumlah record, jumlah attribute, nama attribute, jumlah attribute dengan tipe angka. Masukkan informasi tersebut dalam dictionary dengan key sesuai nama informasinya. Tampilkan isi dari dictionary tersebut sebagus mungkin.**

In [52]:
bankMarketing = pd.read_csv('bank-additional-full.csv')
record = bankMarketing.shape[0]
atribut = bankMarketing.columns
objek = bankMarketing.select_dtypes(include=object).columns
angka = bankMarketing.select_dtypes(include=np.number).columns
Null = bankMarketing.loc[:, bankMarketing.isna().any()].columns

In [53]:
info = {
    'jumlah_record' : record,
    'nama_atribut' : atribut,
    'atribut_object' : objek,
    'atribut_angka' : angka,
}

print("Jumlah Record \t\t\t\t:", info['jumlah_record'])

print("================================================")
print("Jumlah Atribut \t\t\t\t:", len(info['nama_atribut']))
print("================================================")
print("------------------------")
print("  No\t| Nama Atribut")
print("------------------------")
for i in range (len(info['nama_atribut'])):
    print(" ", i, "\t|", info['nama_atribut'][i])
    i+=1
    
print("\n================================================")
print("Jumlah Atribut dengan Tipe Objek \t:", len(info['atribut_object']))
print("================================================")
print("-------------------------------")
print("  No\t| Atribut Tipe Object")
print("-------------------------------")
for i in range (len(info['atribut_object'])):
    print(" ", i, "\t|", info['atribut_object'][i])
    i+=1
    
print("\n================================================")
print("Jumlah Atribut dengan Tipe Angka \t:", len(info['atribut_angka']))
print("================================================")
print("------------------------------")
print("  No\t| Atribut Tipe Angka")
print("------------------------------")
for i in range (len(info['atribut_angka'])):
    print(" ", i, "\t|", info['atribut_angka'][i])
    i+=1

Jumlah Record 				: 41188
================================================
Jumlah Atribut 				: 21
================================================
------------------------
  No	| Nama Atribut
------------------------
  0 	| age
  1 	| job
  2 	| marital
  3 	| education
  4 	| default
  5 	| housing
  6 	| loan
  7 	| contact
  8 	| month
  9 	| day_of_week
  10 	| duration
  11 	| campaign
  12 	| pdays
  13 	| previous
  14 	| poutcome
  15 	| emp.var.rate
  16 	| cons.price.idx
  17 	| cons.conf.idx
  18 	| euribor3m
  19 	| nr.employed
  20 	| y

================================================
Jumlah Atribut dengan Tipe Objek 	: 11
================================================
-------------------------------
  No	| Atribut Tipe Object
-------------------------------
  0 	| job
  1 	| marital
  2 	| education
  3 	| default
  4 	| housing
  5 	| loan
  6 	| contact
  7 	| month
  8 	| day_of_week
  9 	| poutcome
  10 	| y

================================================
Jumlah Atribut dengan Tipe Angka 	: 10
================================================
------------------------------
  No	| Atribut Tipe Angka
------------------------------
  0 	| age
  1 	| duration
  2 	| campaign
  3 	| pdays
  4 	| previous
  5 	| emp.var.rate
  6 	| cons.price.idx
  7 	| cons.conf.idx
  8 	| euribor3m
  9 	| nr.employed

***

***4.  Tampilkan nilai dataset pada baris dimulai dengan 3 digit NIM akhir hingga data terakhir dan kolom ke 4 hingga kolom terakhir menggunakan ke 2 metode slice.***

- Menggunakan iloc untuk slicing

In [48]:
# Menggunakan iloc untuk slicing
metode1 = bankMarketing.iloc[123:, 3:]
metode1

,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
123,high.school,no,yes,no,telephone,may,mon,79,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
124,university.degree,no,yes,yes,telephone,may,mon,175,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
125,university.degree,no,no,yes,telephone,may,mon,262,2,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
126,basic.6y,no,no,no,telephone,may,mon,61,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
127,professional.course,no,yes,yes,telephone,may,mon,78,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,professional.course,no,yes,no,cellular,nov,fri,334,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41184,professional.course,no,no,no,cellular,nov,fri,383,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41185,university.degree,no,yes,no,cellular,nov,fri,189,2,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41186,professional.course,no,no,no,cellular,nov,fri,442,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41187,professional.course,no,yes,no,cellular,nov,fri,239,3,999,1,failure,-1.1,94.767,-50.8,1.028,4963.6,no

- Menggunakan loc untuk slicing

In [44]:
# Menggunakan loc untuk slicing
metode2 = bankMarketing[123:].iloc[:, 3:]
metode2

,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
123,high.school,no,yes,no,telephone,may,mon,79,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
124,university.degree,no,yes,yes,telephone,may,mon,175,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
125,university.degree,no,no,yes,telephone,may,mon,262,2,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
126,basic.6y,no,no,no,telephone,may,mon,61,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
127,professional.course,no,yes,yes,telephone,may,mon,78,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,professional.course,no,yes,no,cellular,nov,fri,334,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41184,professional.course,no,no,no,cellular,nov,fri,383,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41185,university.degree,no,yes,no,cellular,nov,fri,189,2,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41186,professional.course,no,no,no,cellular,nov,fri,442,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41187,professional.course,no,yes,no,cellular,nov,fri,239,3,999,1,failure,-1.1,94.767,-50.8,1.028,4963.6,no

***

***5.  Tampilkan jumlah nilai dari semua attribute yang bernilai object (contoh : Jenis Kelamin, Agama).***

In [47]:

objek = bankMarketing.select_dtypes(include=['object'])
jumlah_nilai_unik = objek.nunique()
jumlah_nilai_unik

job            12
marital         4
education       8
default         3
housing         3
loan            3
contact         2
month          10
day_of_week     5
poutcome        3
y               2
dtype: int64